<html>
<head>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<style type="text/css">
body {
	background-color: #a3a3a3;
	background-image: url(http://f.cl.ly/items/1E1e3N0Q1i2k263B3Y2l/background.jpg);
}

.logo {
	margin-top: 20px;
	max-width: 90%;
	max-height: 220px;
}
.display-area {
	width: 80%;
	text-align: center;
	margin: 50 auto;
	background: rgba(40, 40, 40, 0.9);
	padding: 40px;
	border-radius: 10px;
	color: white;
}

.button-area {
	width: 80%;
	text-align: center;
	margin: 5 auto;
	background: rgba(40, 40, 40, 0.9);
	padding: 10px;
	border-radius: 10px;
	color: white;
}

.button-area button {
	width: 40%;
	margin:10px 4%;
}

.count-display {
	width: 60%;
	text-align: center;
	margin: 50 auto;
	background: rgba(40, 40, 40, 0.9);
	padding: 40px;
	border-radius: 10px;
	color: white;
}
</style>

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
function next()
{
	$("#next-repo").text('');
	$("#next-repo").attr("href", '');
	$("#next-repo-owner").text('');
	$.getJSON("/ajax/repos/next", function(data)
	{
		$("#next-repo").text(data.name);
		$("#next-repo").attr("href", data.file);
		$("#next-repo-owner").text(data.owner);
		$("#done")[0].onclick = (function()
		{
			//Done
			$.post( "/ajax/repos/fix", { owner: data.owner, name: data.name, offensive: 1}).done(function(data)
				{
					next();
				});
		});

		$("#not")[0].onclick = (function()
		{
			//Not offensive
			$.post( "/ajax/repos/fix", { owner: data.owner, name: data.name, offensive: 0}).done(function(data)
			{
				next();
			});
		});
	});
}

function updateCount()
{
	$.getJSON("/ajax/repos/count", function(data)
	{
		console.log("DONE");
		$(".count").text(data.pull_requests);
	});
}

$(document).ready(function()
{
	next();
	var update = updateCount();
	setInterval("update", 500);
});
</script>

</head>

<body>
<center><img src="http://ethicalcode.github.io/images/eclogo1.png" class="logo"></center>
<div class="display-area">
The next repository is <a id="next-repo">(loading...)</a>, by <span id="next-repo-owner">(loading...)</span>.
</div>
<div class="button-area">
<button type="button" class="btn btn-success" id="done">This Is Done</button>
<button type="button" class="btn btn-info" id="not">This Is Not Offensive</button>
</div>
<div class="count-display">
There have been <span class="count">(loading...)</span> pull requests.
</div>
</body>
</html>
